$font-h: 'Titan One', cursive; //шрифт заголовків
$font-main: 'DM Sans', sans-serif; // головний шрифт тексту
$color-text-accent: #d41443;
$color-text-general: #907e82;
$color-text-white: #ffffff;
$color-text-black: #000000;
$color-subtitle: #ffa5ba;
$color-line: #e1e1e1; //колір лінії у footer нижній
$bg-section: #fff5f6; //колір background у footer
$bg-hero: #ffb8ca;
$bg-mobile-menu: #e17992;
$bg-hero-ellipce: #ffa5ba; // коло в секції  hero
$bg-btn-dark: #d41443;
$color-btn-dark: #ffffff;
$bg-btn-dark-hover: #c7133e;
$bg-btn-light: #ffffff;
$color-btn-light: #d41443;
$bg-btn-light-hover: #ecebeb;
$bg-accent-color: #ffb8ca;
$bg-beige-color: #f0d1a5;
$bg-green-color: #c2e297;
$bg-quote: #fafafa; // колір фону цитати
$bg-social: #fea5bb; // колір фону social іконок
$transition-time: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
