<section class="about section" id="about">
  <div class="wrap-about-background">
    <div class="about-background">
      <picture>
        <source
          srcset="
            ./images/about/about-bg-1x-min.png 1x,
            ./images/about/about-bg-2x-min.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/about/about-bg-mob-1x-min.png 1x,
            ./images/about/about-bg-mob-2x-min.png 2x
          "
          media="(max-width:767.98px)"
        />
        <img
          src="./images/about/about-bg-1x-min.png"
          width="1278"
          height="521"
          alt="milk"
          class="about-background-img"
        />
      </picture>
    </div>
  </div>
  <div class="container container-about">
    <p
      class="about-text-top aos"
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="750"
      data-aos-offset="500px"
    >
      tradition and love
    </p>
    <h2
      class="about-title aos"
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="750"
      data-aos-offset="500px"
    >
      how it’s made?
    </h2>

    <div class="about-wrap-first">
      <picture>
        <source
          srcset="
            ./images/about/about-cow-1x-min.png 1x,
            ./images/about/about-cow-2x-min.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/about/about-cow-tab-1x-min.png 1x,
            ./images/about/about-cow-tab-2x-min.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/about/about-cow-mob-1x-min.png 1x,
            ./images/about/about-cow-mob-2x-min.png 2x
          "
          media="(min-width:320px)"
        />
        <img
          src="./images/about/about-cow-tab-1x-min.png"
          class="about-img"
          alt="cow"
        />
      </picture>
      <div class="about-wrap-second">
        <p
          class="about-text aos"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="750"
          data-aos-offset="500px"
        >
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p
          class="about-text-bottom first aos"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="750"
          data-aos-offset="500px"
        >
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p
          class="about-text-bottom aos"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="750"
          data-aos-offset="500px"
        >
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button  type="button" class="about-button data-open-modal">
          Read more
          <svg class="about-icon" width="9" height="16">
            <use href="./images/symbol-defs.svg#icon-Vector"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="backdrop is-hidden data-backdrop" >
      <div class="wrap-modal">
        <div class="about-background-modal">
          <picture>
            <source
              srcset="
                ./images/about/about-bg-1x-min.png 1x,
                ./images/about/about-bg-2x-min.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/about/about-bg-mob-1x-min.png 1x,
                ./images/about/about-bg-mob-2x-min.png 2x
              "
              media="(max-width:767.98px)"
            />
            <img
              src="./images/about/about-bg-1x-min.png"
              width="1278"
              height="521"
              alt="milk"
              class="modal-background-img"
            />
          </picture>
        </div>
      </div>
      <div class="modal">
        <div class="bb">
          <p class="modal-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero
            quisquam nostrum repudiandae architecto provident ipsum suscipit
            aspernatur expedita unde est, quasi, ratione necessitatibus sint!
            Maxime iste sit explicabo accusamus amet.
          </p>
          <button type="button" class="data-close-modal">
            <svg class="icon-close-about" width="30" height="30">
              <use href="./images/symbol-defs.svg#icon-close-about"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
