<section class="advantages section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages--milk">
        <h3 class="advantages__content-head">721</h3>
        <p class="advantages__content-info">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages--apple">
        <h3 class="advantages__content-head">16kg</h3>
        <p class="advantages__content-info">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages--heart">
        <h3 class="advantages__content-head">84</h3>
        <p class="advantages__content-info">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
