<section class="advantages section" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages--milk">
        <h3
          class="advantages__content-head aos"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="850"
          data-aos-offset="500px"
        >
          721
        </h3>
        <p
          class="advantages__content-info aos"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="850"
          data-aos-offset="500px"
        >
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages--apple">
        <h3
          class="advantages__content-head aos"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="850"
          data-aos-offset="500px"
        >
          16kg
        </h3>
        <p
          class="advantages__content-info aos"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="850"
          data-aos-offset="500px"
        >
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages--heart">
        <h3
          class="advantages__content-head aos"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="850"
          data-aos-offset="500px"
        >
          84
        </h3>
        <p
          class="advantages__content-info aos"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="850"
          data-aos-offset="500px"
        >
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
