<section class="section-reviews section">
  <div class="container">
    <h2 class="visually-hidden">Reviews</h2>
      <div class="one-time">
      <div class="slide slide-review">
        <img
          src="/src/images/slider/slider-1-1x-min.jpg"
          alt="woman"
          class="slide__img aos"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="750"
          data-aos-offset="500px"
        />
        <div class="gradient-wrapper">
          <div class="slide-review__gradientbox">
            <p class="slide-review__text">
              Nullam viverra consectetuerer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="slide-review__name">Emily, Los Angeles</p>
      </div>
      <div class="slide slide-review">
        <img
          src="/src/images/slider/slider-2-1x-min.jpg"
          alt="woman"
          class="slide__img"
        />
        <div class="gradient-wrapper">
          <div class="slide-review__gradientbox">
            <p class="slide-review__text">
              Nullam viverra consectetuerer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="slide-review__name">Petra, California</p>
      </div>
      <div class="slide slide-review">
        <img
          src="/src/images/slider/slider-3-1x-min.jpg"
          alt="woman"
          class="slide__img"
        />
        <div class="gradient-wrapper">
          <div class="slide-review__gradientbox">
            <p class="slide-review__text">
              Nullam viverra consectetuerer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="slide-review__name">Avelin, Paris</p>
      </div>
    </div>
  </div>
</section>
