<div class="section-reviews section">
  <div class="container">
    <div class="one-time">
      <div class="slide slide-review">
        <img
          src="/src/images/slider/slider-1-1x-min.jpg"
          alt="woman"
          class="slide__img"
        />
        <div class="gradient-wrapper">
          <div class="slide-review__gradientbox">
            <p class="slide-review__text">
              I love this ice cream. It feels rich with flavor without the
              'imported from France' priceline that normally follows. I scarcely
              eat ice cream, so obviously I don't know heavy differences;
              however, when I do, I have enjoyed this one thoroughly.
            </p>
          </div>
        </div>
        <p class="slide-review__name">Emily, Los Angeles</p>
      </div>
      <div class="slide slide-review">
        <img
          src="/src/images/slider/slider-2-1x-min.jpg"
          alt="woman"
          class="slide__img"
        />
        <div class="gradient-wrapper">
          <div class="slide-review__gradientbox">
            <p class="slide-review__text">
              I absolutely love Magnum ice cream. It is so creamy and flavorful.
              The Belgium chocolate covering the ice cream makes it even better.
              Heaven in an ice cream tub !
            </p>
          </div>
        </div>
        <p class="slide-review__name">Petra, California</p>
      </div>
      <div class="slide slide-review">
        <img
          src="/src/images/slider/slider-3-1x-min.jpg"
          alt="woman"
          class="slide__img"
        />
        <div class="gradient-wrapper">
          <div class="slide-review__gradientbox">
            <p class="slide-review__text">
              OK hands-down this is the best ice cream I think I’ve ever had an
              existence of my life. It’s so creamy and delicious. There’s pieces
              of chocolate all around it, inside of it. It reminds me that
              Straccata chocolate log that they had in the 90s. It’s just
              divine. It is amazing, everything tastes great you could eat a
              whole pint without even realizing it.
            </p>
          </div>
        </div>
        <p class="slide-review__name">Avelin, Paris</p>
      </div>
    </div>
  </div>
</div>
