<section class="section gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__image-set">
      <li class="gallery__thumb thumb-1">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-1.jpg"
          alt="ice-cream-1"
        />
      </li>
      <li class="gallery__thumb thumb-2">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-2.jpg"
          alt="ice-cream-2"
        />
      </li>
      <li class="gallery__thumb thumb-3">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-3.jpg"
          alt="ice-cream-3"
        />
      </li>
      <li class="gallery__thumb thumb-4">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-4.jpg"
          alt="ice-cream-4"
        />
      </li>
      <li class="gallery__thumb thumb-5">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-5.jpg"
          alt="ice-cream-5"
        />
      </li>
      <li class="gallery__thumb thumb-6">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-6.jpg"
          alt="ice-cream-6"
        />
      </li>
      <li class="gallery__thumb thumb-7">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-7.jpg"
          alt="ice-cream-7"
        />
      </li>
      <li class="gallery__thumb thumb-8">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-8.jpg"
          alt="ice-cream-8"
        />
      </li>
      <li class="gallery__thumb thumb-9">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-9.jpg"
          alt="ice-cream-9"
        />
      </li>
      <li class="gallery__thumb thumb-10">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-10.jpg"
          alt="ice-cream-10"
        />
      </li>
    </ul>
  </div>
</section>
