<section class="section">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/gallery/gallery-image-set-1x.jpg 1x,
          ./images/gallery/gallery-image-set-2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/gallery/gallery-image-set-1x-tab.jpg 1x,
          ./images/gallery/gallery-image-set-2x-tab.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/gallery/gallery-image-set-1x-mob.jpg 1x,
          ./images/gallery/gallery-image-set-2x-mob.jpg 2x
        "
      />
      <img src="./images/gallery/gallery-image-set-1x.jpg" alt="Image set" />
    </picture>
  </div>
</section>
