<section class="header">
  <div class="container">
    <nav class="navigation" id="menu">
      <a href="" class="logo">
        <svg class="logo__icon" width="50" height="50">
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
        <span> Icecream</span>
      </a>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#hero" class="navigation__link navigation__link--current"
            >Home</a
          >
        </li>
        <li class="navigation__item">
          <a href="#advantages" class="navigation__link">About us</a>
        </li>
        <li class="navigation__item">
          <a href="#about" class="navigation__link">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a href="#products" class="navigation__link">Our products</a>
        </li>
        <li class="navigation__item">
          <a href="#contacts" class="navigation__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mob-menu__btn--open">
      <svg class="mob-btn__icon--open" width="22" height="16">
        <use href="./images/symbol-defs.svg#icon-Burger"></use>
      </svg>
    </button>
    <button type="button" class="button header__btn  header-modal-open">
    Buy now
      <svg class="btn__icon--arrow" width="18" height="12">
        <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu is-hidden">
    <div class="container">
      <button type="button" class="mob-menu__btn--close">
        <svg class="mob-btn__icon--close" width="14" height="14">
          <use href="./images/symbol-defs.svg#icon-burger-close"></use>
        </svg>
      </button>
      <button
        
        type="button"
        class="button header__btn mob-menu__btn header-modal-open1">
            Buy now
        <svg class="btn__icon--arrow" width="18" height="12">
          <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
        </svg>
      </button>
      <nav id="menu-mobile">
        <ul class="mob-menu__list">
          <li class="mob-menu__item">
            <a href="#hero" class="mob-menu__link mob-menu__link--current"
              >Home</a
            >
          </li>
          <li class="mob-menu__item">
            <a href="#advantages" class="mob-menu__link">About us</a>
          </li>
          <li class="mob-menu__item">
            <a href="#about" class="mob-menu__link">How it’s made?</a>
          </li>
          <li class="mob-menu__item">
            <a href="#products" class="mob-menu__link">Our products</a>
          </li>
          <li class="mob-menu__item">
            <a href="#contacts" class="mob-menu__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
