<header class="header">
  <div class="container">
    <nav class="navigation">
      <a href="" class="logo">
        <svg class="logo__icon" width="50" height="50">
          <use href="./images/symbol-defs.svg#icon-logo"></use></svg
        >Icecream
      </a>

      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="" class="navigation__link navigation__link--current">Home</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">About us</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Our products</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mob-menu__btn--open">
      <svg width="20" height="12">
        <use
          class="mob-menu__icons"
          href="./images/symbol-defs.svg#icon-Burger"
        ></use>
      </svg>
    </button>
    <button type="button" class="button header__btn">
      Buy now
      <svg class="btn__icon--arrow" width="4" height="8">
        <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
      </svg>
    </button>
  </div>
</header>
