<section class="hero" id="hero">
  <div class="container">
    <div class="hero__main-pic"></div>
    <img
      class="hero__ellipse"
      src="./images/header/header-elipse-tablet-1x-min.png"
      alt="ellipse"
    />
    <img
      class="hero__icecream"
      src="./images/header/icecream-header-1x-min.png"
      alt="ellipse"
    />
    </div>
    <div class="hero__main-content">
      <h1 class="hero__title">
        Ice cream made with <span class="hero__title--accent"> passion</span>
      </h1>

      <ul class="anchors__menu">
        <li class="anchors__item">
          <a href="#products" class="anchor__link">Products</a>
        </li>
        <li class="anchors__item">
          <a href="#about" class="anchor__link">How it’s made?</a>
        </li>
      </ul>
    </div>
  </div>
</section>
