<section class="hero">
  <div class="container">
    <!-- <div class="hero__main-pic"> -->

    <picture>
      <source
        srcset="
          ./images/Icecream/ellipse-desk-1x.png,
          ./images/Icecream/ellipse-desk-2x.png
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/Icecream/ellipse-tab-1x.png,
          ./images/Icecream/ellipse-tab-2x.png
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/Icecream/ellipse-mob-1x.png,
          ./images/Icecream/ellipse-mob-2x.png
        "
        media="(min-width:320px)"
      />

      <img
        class="hero__img--ellipse"
        src="./images/Icecream/ellipse-desk-1x.png"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/Icecream/ice-desk-1x.png,
          ./images/Icecream/ice-desk-2x.png
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/Icecream/ice-tab-1x.png,
          ./images/Icecream/ice-tab-2x.png
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/Icecream/ice-mob-1x.png,
          ./images/Icecream/ice-mob-2x.png
        "
        media="(min-width:320px)"
      />

      <img class="hero__img--icecream" src="./images/Icecream/ice-mob-1x.png" />
    </picture>

    <div class="hero__main-content">
      <h1 class="hero__title">
        Ice cream made with <span class="hero__title--accent"> passion</span>
      </h1>

      <ul class="anchors__menu">
        <li class="anchors__item">
          <a href="#products" class="anchor__link">Products</a>
        </li>
        <li class="anchors__item">
          <a href="#about" class="anchor__link">How it’s made?</a>
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="
          ./images/Icecream/milk-desk-1x.png,
          ./images/Icecream/milk-desk-2x.png
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/Icecream/milk-tab-1x.png,
          ./images/Icecream/milk-tab-2x.png
        "
        media="(min-width:768px)"
      />

      <img
        class="hero__img--milk"
        src="./images/header/milk-header-1x-min.png"
      />
    </picture>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <button type="button" class="hero__text--arrow">
      <svg class="arrow-right-icon" width="18" height="18">
        <use href="/src/images/symbol-defs.svg#icon-arow"></use>
      </svg>
    </button>
    <ul class="stats__list">
      <li class="stats__item">
        <!-- <img
          class="hero__img--white-ellipse"
          src="./images/Icecream/white-ellipse-desk-1x.png"
          alt=""
        /> -->
        <span class="stats__item--count">16</span>
        <p class="stats__item--text">cafes</p>
      </li>
      <li class="stats__item">
        <!-- <img
          class="hero__img--white-ellipse"
          src="./images/Icecream/white-ellipse-desk-1x.png"
          alt=""
        /> -->
        <span class="stats__item--count">23</span>
        <p class="stats__item--text">food trucks</p>
      </li>
    </ul>

    <picture>
      <source
        srcset="
          ./images/Icecream/girl-desk-1x.png,
          ./images/Icecream/girl-desk-2x.png
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/Icecream/girl-tab-1x.png,
          ./images/Icecream/girl-tab-2x.png
        "
        media="(min-width:768px)"
      />
      <img class="hero__img--girl" src="/src/images/Icecream/girl-tab-1x.png" />
    </picture>
  </div>
</section>
