<section class="hero" id="hero">
  <div class="container">
    <div class="hero__main-pic">
      <picture>
        <source
          srcset="
            ./images/Icecream/ellipse-desk-1x.png 1x,
            ./images/Icecream/ellipse-desk-2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/Icecream/ellipse-tab-1x.png 1x,
            ./images/Icecream/ellipse-tab-2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/Icecream/ellipse-tab-1x.png 1x,
            ./images/Icecream/ellipse-tab-2x.png 2x
          "
          media="(min-width:320px)"
        />

        <img
          class="hero__img--ellipse"
          src="./images/Icecream/ellipse-desk-1x.png"
          alt="big ellipse"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="750"
          data-aos-offset="500px"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/Icecream/ice-desk-1x.png 1x,
            ./images/Icecream/ice-desk-2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/Icecream/ice-tab-1x.png 1x,
            ./images/Icecream/ice-tab-2x.png  2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/Icecream/ice-mob-1x.png 1x,
            ./images/Icecream/ice-mob-2x.png 2x
          "
          media="(min-width:320px)"
        />

        <img
          class="hero__img--icecream"
          src="./images/Icecream/ice-mob-1x.png"
          alt="big icecream"
        />
      </picture>
    </div>

    <div class="hero__main-content">
      <h1
        class="hero__title aos"
        data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="750"
        data-aos-offset="500px"
      >
        Ice cream made with <span class="hero__title--accent"> passion</span>
      </h1>

      <ul class="anchors__menu" id="menu-anchors">
        <li
          class="anchors__item aos"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="750"
          data-aos-offset="500px"
        >
          <a href="#products" class="anchor__link">Products</a>
        </li>
        <li
          class="anchors__item aos"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="750"
          data-aos-offset="500px"
        >
          <a href="#about" class="anchor__link anchor__link--light"
            >How it’s made?</a
          >
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="
          ./images/Icecream/milk-desk-1x.png 1x,
          ./images/Icecream/milk-desk-2x.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/Icecream/milk-tab-1x.png 1x,
          ./images/Icecream/milk-tab-2x.png 2x
        "
        media="(min-width:768px)"
      />

      <img
        class="hero__img--milk"
        src="./images/Icecream/milk-tab-1x.png"
        alt="milk"
      />
    </picture>
    <p
      class="hero__text aos"
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="750"
      data-aos-offset="500px"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <button type="button" class="hero__text--arrow milk-modal-open" >
      <svg class="icon__arrow--right" width="18" height="18">
        <use href="/src/images/symbol-defs.svg#icon-arow"></use>
      </svg>
    </button>
    <ul class="stats__list">
      <li class="stats__item">
        <span class="stats__circle"></span>

        <span class="stats__item--count">16</span>
        <p class="stats__item--text">cafes</p>
      </li>
      <li class="stats__item">
        <span class="stats__circle"></span>
        <span class="stats__item--count">23</span>
        <p class="stats__item--text">food trucks</p>
      </li>
    </ul>

    <picture>
      <source
        srcset="
          ./images/Icecream/girl-desk-1x.png 1x,
          ./images/Icecream/girl-desk-2x.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/Icecream/girl-tab-1x.png 1x,
          ./images/Icecream/girl-tab-2x.png 2x
        "
        media="(min-width:768px)"
      />
      <img
        class="hero__img--girl aos"
        src="/src/images/Icecream/girl-tab-1x.png"
        alt="girl with icecream"
        data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="750"
        data-aos-offset="500px"
      />
    </picture>
  </div>
</section>
