<section class="section products-section" id="products">
    <div class="container">
        <p class="subtitle-products">100% natural</p>
        <h2 class="title-products">products</h2>
        <ul class="products-list list">
            <li class="product-item">
                <div class="product-description front1" id="product1">
                    <h3 class="product-title">ice cream</h3>

                    <p class="product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                    </p>
                    <button class="product-btn" type="button" onclick="myFlipCard_1()">
                        <svg class="arrow-right-icon" width="40" height="40">
                            <use href="./images/symbol-defs.svg#icon-arow"></use>
                        </svg>
                    </button>
                </div>
                <div class="back" id="back1">
                    <h3 class="back-title">
                        Bon appetit!
                    </h3>
                    <p class="product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                    </p>
                    <button class="product-btn btn-back" type="button" onclick="myFlipCard_1()" >
                        <svg class="arrow-right-icon" width="40" height="40">
                            <use href="./images/symbol-defs.svg#icon-arow"></use>
                        </svg>
                    </button>
                </div>
               
            </li>
            <li class="product-item">
                <div class="product-description front2" id="product2">
                    <h3 class="product-title">ice coffee</h3>
                    
                    <p class="product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                    </p>
                    <button class="product-btn" type="button" onclick="myFlipCard_2()">
                        <svg class="arrow-right-icon" width="40" height="40">
                            <use href="./images/symbol-defs.svg#icon-arow"></use>
                        </svg>
                    </button>
                </div>
                <div class="back" id="back2">
                    <h3 class="back-title">
                        Bon appetit!
                    </h3>
                    <p class="product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                    </p>
                    <button class="product-btn" type="button" onclick="myFlipCard_2()">
                        <svg class="arrow-right-icon" width="40" height="40">
                            <use href="./images/symbol-defs.svg#icon-arow"></use>
                        </svg>
                    </button>
                </div>

            </li>
            <li class="product-item">
                <div class="product-description front3" id="product3">
                    <h3 class="product-title">milkshakes</h3>
                    
                    <p class="product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                    </p>
                    <button class="product-btn" type="button" onclick="myFlipCard_3()">
                        <svg class="arrow-right-icon" width="40" height="40">
                            <use href="./images/symbol-defs.svg#icon-arow"></use>
                        </svg>
                    </button>
                </div>
                <div class="back" id="back3">
                    <h3 class="back-title">
                        Bon appetit!
                    </h3>
                    <p class="product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                    </p>
                    <button class="product-btn" type="button" onclick="myFlipCard_3()">
                        <svg class="arrow-right-icon" width="40" height="40">
                            <use href="./images/symbol-defs.svg#icon-arow"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>