<section class="section section--products" id="products">
  <div class="container">
    <p
      class="products__subtitle aos"
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="750"
      data-aos-offset="500px"
    >
      100% natural
    </p>
    <h2
      class="products__title aos"
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="750"
      data-aos-offset="500px"
    >
      products
    </h2>
    <ul class="products__list list">
      <li class="products__list--item">
        <div class="product__description front--accent" id="product1">
          <h3
            class="product__title aos"
            data-aos="zoom-in"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="750"
            data-aos-offset="500px"
          >
            ice cream
          </h3>
          <p
            class="product__text aos"
            data-aos="zoom-in"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="750"
            data-aos-offset="500px"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="product__btn" type="button" onclick="myFlipCard_1()">
            <svg class="arrow-right-icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-arow"></use>
            </svg>
          </button>
        </div>
        <div class="back" id="back1">
          <h3 class="back__title">Bon appetit!</h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="product__btn" type="button" onclick="myFlipCard_1()">
            <svg class="arrow-right-icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-arow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__list--item">
        <div class="product__description front--beige" id="product2">
          <h3
            class="product__title aos"
            data-aos="zoom-in"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="750"
            data-aos-offset="500px"
          >
            ice coffee
          </h3>
          <p
            class="product__text aos"
            data-aos="zoom-in"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="750"
            data-aos-offset="500px"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="product__btn" type="button" onclick="myFlipCard_2()">
            <svg class="arrow-right-icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-arow"></use>
            </svg>
          </button>
        </div>
        <div class="back" id="back2">
          <h3 class="back__title">Bon appetit!</h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="product__btn" type="button" onclick="myFlipCard_2()">
            <svg class="arrow-right-icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-arow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__list--item">
        <div class="product__description front--green" id="product3">
          <h3
            class="product__title aos"
            data-aos="zoom-in"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="750"
            data-aos-offset="500px"
          >
            milkshakes
          </h3>
          <p
            class="product__text aos"
            data-aos="zoom-in"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="750"
            data-aos-offset="500px"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="product__btn" type="button" onclick="myFlipCard_3()">
            <svg class="arrow-right-icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-arow"></use>
            </svg>
          </button>
        </div>
        <div class="back" id="back3">
          <h3 class="back__title">Bon appetit!</h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="product__btn" type="button" onclick="myFlipCard_3()">
            <svg class="arrow-right-icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-arow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
