p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titan One', cursive;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.no-scroll {
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1280px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  color: #d41443;
  cursor: pointer;
  margin: 0 auto;
  border: none;
}

@media screen and (max-width: 767.9px) {
  .advantages {
    padding-top: 0;
  }
}

@media screen and (max-width: 767.9px) {
  .advantages__list {
    margin-bottom: -32px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .advantages__list {
    margin: 0 calc((100% - 540px)/2);
  }
}

.advantages__item {
  width: 230px;
}

@media screen and (max-width: 767.9px) {
  .advantages__item {
    margin-bottom: 32px;
  }
}

.advantages__item.advantages--milk::before {
  content: url(../images/advantages/advantages-1-1x-min.png);
}

.advantages__item.advantages--apple::before {
  content: url(../images/advantages/advantages-2-1x-min.png);
}

.advantages__item.advantages--heart::before {
  content: url(../images/advantages/advantages-3-1x-min.png);
}

.advantages__item::before {
  content: '';
  display: inline-block;
  margin-bottom: 16px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .advantages__item::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item::before {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    text-align: center;
    width: calc((100% - 32px) / 3);
    margin-right: 16px;
  }
  .advantages__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item {
    text-align: center;
    width: calc((100% - 407px) / 3);
    margin-right: 142px;
  }
  .advantages__item:last-child {
    margin-right: 0;
  }
}

.advantages__content-head {
  color: #d41443;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.13;
  margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .advantages__content-head {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__content-head {
    font-size: 58px;
  }
}

.advantages__content-info {
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .advantages__content-info {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__content-info {
    font-size: 16px;
  }
}
/*# sourceMappingURL=index.css.map */