#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $color-btn-light; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 4px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
  background-color: $bg-btn-dark-hover; /* Add a dark-grey background on hover */
}
.btn--home {
  width: 22px;
  height: 22px;
  transform: rotate(-90deg);
  @include mediamin(768px) {
    width: 32px;
    height: 32px;
  }
  @include mediamin(1280px) {
    width: 42px;
    height: 42px;
  }
}
