.about {
  position: relative;
  @media screen and (max-width: 767.98px) {
    background-color: $bg-section;
  }
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(#ffffff 20px, $bg-section 20px, $bg-section);
  }
  @media screen and (min-width: 1280px) {
    background-color: $bg-section;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container-about {
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 34px;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
  }
}

.about-text-top {
  font-family: 'Titan One';
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: $color-subtitle;
  letter-spacing: 0em;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: 0.04em;
    font-size: 30px;
    line-height: 1.13;
  }
}

.about-title {
  font-family: 'Titan One';
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-accent;

  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: 0.06em;
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 60px;
  }
}
.about-img {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 139px;
  }
}
.about-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 0em;
  color: $color-text-black;
  margin-bottom: 40px;
  max-width: 220px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.79;
    max-width: 334px;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.75;
    max-width: 463px;
    margin-bottom: 32px;
  }
}
.about-text-bottom {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 0em;
  color: $color-text-general;
  margin-bottom: 20px;
  max-width: 220px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.79;
    max-width: 334px;
    margin-bottom: 40px;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    line-height: 1.92;
    max-width: 463px;
  }
  &.first {
    @media screen and (min-width: 768px) and (max-width: 1279.89px) {
      margin-bottom: 20px;
    }
  }
}

.about-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0em;
  align-items: center;
  text-align: center;
  color: $color-text-accent;
  border: none;
  border-radius: 22px;
  width: 176px;
  height: 44px;
  background-color: $color-text-white;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.31;
  }
  &:hover,
  &:focus {
    background-color: $bg-btn-light-hover;
  }
}

.about-wrap-first {
  position: relative;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.about-wrap-second {
  z-index: 0;
  position: relative;
  @media screen and (min-width: 1280px) {
    margin-top: 91px;
  }
}

.about-icon {
  stroke: $color-btn-light;
  margin-left: 14px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .about-button:hover & {
    stroke: $color-btn-light;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    & .modal {
      transform: translate(-50%, -50%) scale(0.6);
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 99px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 99px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  border-radius: 50%;
  background-color: $bg-hero-ellipce;
  // border: 2px solid $bg-btn-dark;
  box-shadow: 10px -5px 15px 6px #f4ebeb;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 350px;
    height: 350px;
  }
  @media screen and (min-width: 1280px) {
    width: 400px;
    height: 400px;
  }
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.icon-close-about {
  position: absolute;
  top: 18px;
  right: 16px;
  cursor: pointer;
  padding: 6px;
  background: transparent;
  box-sizing: border-box;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: $bg-hero-ellipce;
  box-shadow: 5px -8px 12px 1px #f4ebeb;
  &:hover,
  &:focus {
    background-color: $bg-btn-dark;
    fill: $color-btn-dark;
  }
  @media screen and (min-width: 768px) {
    top: 36px;
    right: 20px;
  }
  @media screen and (min-width: 1280px) {
    top: 47px;
    right: 24px;
  }
}

.modal-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: #ffffff;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
  @media screen and (min-width: 1280px) {
    font-size: 17px;
    line-height: 1.7;
  }
}

.no-scroll {
  overflow: hidden;
}

.about-background-modal {
  position: absolute;
  top: 75%;
  @media screen and (min-width: 767.98px) {
    top: 50%;
    transform: translate(0, -50%);
  }
}
.wrap-modal {
  display: flex;
  justify-content: center;
}
.modal-background-img {
  @media screen and (max-width: 767.98px) {
    max-width: 320px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.wrap-about-background {
  display: flex;
  justify-content: center;
}
.about-background-img {
  max-width: 320px;
  @media screen and (min-width: 1280px) {
    max-width: 1278px;
  }
}

.about-background {
  position: absolute;
  @media screen and (max-width: 767.98px) {
    top: 574px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    top: 255px;
  }
}
