.advantages {
    @media screen and (max-width:767.9px) {
            padding-top: 0;
        }
    
}

.advantages__list{
    @media screen and (max-width:767.9px) {
            margin-bottom: -32px;
        }
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
       
        @media screen and (max-width:1279.98px) {
                margin: 0 calc((100% - 540px)/2);
            }
    }
    
}

.advantages__item{
    @media screen and (max-width:767.9px) {
        margin-bottom: 32px;
    }
    width: 230px;
    &.advantages--milk::before{
        content: url(../images/advantages/advantages-1-1x-min.png);
    }
    &.advantages--apple::before {
        content: url(../images/advantages/advantages-2-1x-min.png);
    }
    &.advantages--heart::before {
        content: url(../images/advantages/advantages-3-1x-min.png);
    }
    &::before {
        content: '';
        display: inline-block;
        margin-bottom: 16px;
        height: 50px;
        @media screen and (min-width:768px) {
            margin-bottom: 36px;
        
        }
        @media screen and (min-width:1280px) {
            margin-bottom: 40px;
        }
    }
    @media screen and (min-width:768px) {
        text-align: center;
        width:calc((100% - 32px) / 3 );
        margin-right: 16px;
        &:last-child{
            margin-right: 0;
        }
    }
        @media screen and (min-width:1280px) {
            text-align: center;
            width: calc((100% - 407px) / 3);
            margin-right: 142px;
    
            &:last-child {
                margin-right: 0;
            }
        }
   
}

.advantages__content-head {
    color: $color-text-accent;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    line-height: 1.13;
    margin-bottom: 13px;
    @media screen and (min-width:768px) {
        font-size: 48px; 
    }
    @media screen and (min-width:1280px) {
        font-size: 58px;
    }
}

.advantages__content-info{
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.7;
    @media screen and (min-width:768px) {
            font-size: 14px;
    }

    @media screen and (min-width:1280px) {
        font-size: 16px;
    }
}