.slide.slide-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide__img {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

.gradient-wrapper {
  padding: 0 50px 17px 50px;
  background-color: $bg-quote;
  text-align: center;
  @media screen and (min-width: 768px) {
    max-width: 620px;
    background-color: transparent;
    padding: 23px 6px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1034px;
    padding: 32px 105px;
    background-color: $bg-quote;
  }
}

.slide-review__gradientbox {
  position: relative;
  z-index: 1;
  display: block;
  padding: 13px 0;
  text-align: center;
  max-height: 260px;
  @media screen and (min-width: 768px) {
    max-width: 514px;
    max-height: 108px;
    padding: 20px 45px 0 45px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 822px;
    max-height: 75px;
    padding: 20px 35px 0 35px;
  }
}

.slide-review__text::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url(/src/images/slider/quotes.svg);
  z-index: -1;
}

.slide-review__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  color: $color-text-black;
  overflow: scroll;
  display: inline;
  background-repeat: repeat-x;
  background-size: 100% 1px;
  background-image: repeating-linear-gradient(to right, #e1e1e1, #e1e1e1);
  background-position: 0 100%;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.16;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86;
  }
}

.slide-review__name {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: $color-text-black;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.8;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

// троеточие, не слайд

.slide-review__name::before {
  content: '. . .';
  display: flex;
  justify-content: center;
  color: $bg-btn-dark-hover;
}

// ------------домик

.slick-dots .slick-active {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/slider/red-house.svg);
}

.slick-dots li.slick-active button:before {
  display: none;
}

.slick-next.slick-arrow{
  display: none !important;}

.slick-prev.slick-arrow {
   display: none !important;
    
}