.header {
    position: absolute;
    width: 100%;
    .container {
            display: flex;
            padding-top: 8px;
    
            @include mediamin(768px) {
                padding-top: 32px;
            }
        }
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $color-text-accent;
}

.logo__icon {
    margin-right: 20px;
}


.navigation {
    @include mediamin(1280px) {
            display: flex;
            align-items: center;
            position: absolute;
        }
    
}

.navigation__list {
    display: none;

    @include mediamin(1280px) {
        display: flex;
        margin-left: 175px;
    }
}

.navigation__item:not(:last-child) {
    margin-right: 35px;
}

.navigation__link {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: $color-text-white;
    transition: color 250ms $cubic-bezier;
        &:hover,
        &:focus {
            color: $color-text-accent;
        }
}

.navigation__link--current {
    color: $color-text-accent;
}

.header__btn {
    display: none;

    @include mediamin(768px) {
            display: block;
            margin-right: 0;
            margin-left: 32px;
            width: 160px;
            height: 44px;
            background-color: $bg-btn-light;
            border-radius: 22px;
            font-weight: 700;    
            transition: color 250ms $cubic-bezier;
            transition: background-color 250ms $cubic-bezier;
    }
    @include mediamin(1280px) {
        margin-left: auto;
    }   
}

.header__btn:hover,
.header__btn:focus {
    color: $color-btn-dark;
     background-color: $bg-btn-dark-hover;
 }

.btn__icon--arrow {
    margin-left: 12px;
    fill: currentColor;
}


.mob-menu__btn--open {
    border: none;
    margin-left: auto;
    background-color: transparent;
    cursor: pointer;    
    fill: $bg-btn-dark;
    @include mediamin(1280px) {
        display: none;
    }
}

.mob-btn__icon--open {
stroke: $color-text-accent;
}

.mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $bg-mobile-menu;
    
    .container {
        flex-direction: column;
        height: 100%;
        padding: 60px 20px 185px 20px;

    }

}

.mob-menu__btn--close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    border: none;
    margin-left: auto;
    background-color: $bg-mobile-menu;
    padding: 0;
    cursor: pointer;
    // transition: fill 250ms var(--timing-function);

    // &:hover,
    // &:focus {
    //     fill: var(--accent-text-color);
    // }
}

.mob-btn__icon--close {
    stroke: $color-text-white;
}

// .mob-menu__list {
//     display: inline;
// }

.mob-menu__btn {
    display: block;
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
    background-color: $bg-btn-light;
    border-radius: 22px;
    font-weight: 700;
    transition: color 250ms $cubic-bezier;
    transition: background-color 250ms $cubic-bezier;
        &:hover,
        &:focus {
                color: $color-btn-dark;
                background-color: $bg-btn-dark-hover;
            }
}

// .mob-menu__item,
// .mob-contacts__item {
//     &:not(:last-child) {
//         margin-bottom: 32px;
//     }
// }

.mob-menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
        display: flex;
        height: 42px;
        align-items: center;
        border: 1px solid #E18298;
        color: $color-text-white;
        transition: color 250ms $cubic-bezier;
        &:hover,
        &:focus {
            color: $color-text-accent;
        }
    // @include font(500, 40px, 1.18, 0.02em);
    // text-align: center;
    // color: var(--primary-text-color);

    &--current {
        color: $color-text-accent;
    }
}
