.hero {
  background-color: $bg-hero;
  overflow: hidden;

  .container {
    position: relative;
    padding-top: 194px;
    padding-bottom: 158px;
    flex-direction: column;

    @include mediamin(768px) {
      padding-top: 102px;
      padding-bottom: 190px;
    }

    @include mediamin(1280px) {
      padding-top: 146px;
      padding-bottom: 316px;
    }
  }
}

.hero__img--ellipse {
  position: absolute;
  max-width: 344px;
  height: 344px;
  left: 36px;
  top: 83px;
  @include mediamax(767.98px) {
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @include mediamin(768px) {
    position: absolute;
    left: 248px;
    top: 43px;
  }

  @include mediamin(1280px) {
    position: absolute;
    max-width: 534px;
    height: 534px;
    left: 517px;
    top: 54px;
  }
}

.hero__img--icecream {
  position: absolute;
  width: 171px;
  height: 410px;
  left: 117px;
  bottom: 0;

  @include mediamin(768px) {
    position: absolute;
    width: 143px;
    height: 336px;
    left: 322px;
    bottom: 0;
  }

  @include mediamin(1280px) {
    position: absolute;
    width: 236px;
    height: 557px;
    left: 636px;
    top: 108px;
  }
}

.hero__main-content {
  position: relative;
}

.hero__title {
  max-width: 218px;
  @include font(400, 26px, 1.15, null);
  text-transform: uppercase;
  color: $color-text-white;

  @include mediamin(768px) {
    max-width: 162px;
    @include font(null, 22px, 1.14, null);
  }

  @include mediamin(1280px) {
    max-width: 277px;
    @include font(null, 38px, 1.16, null);
  }
}

.hero__title--accent {
  @include font(null, 48px, 0.96, null);
  color: $color-text-accent;

  @include mediamin(768px) {
    @include font(null, 34px, 0.91, null);
  }

  @include mediamin(1280px) {
    @include font(null, 58px, null, null);
  }
}

.anchors__menu {
  display: flex;
  margin-top: 20px;
}

.anchors__item:not(:last-child) {
  margin-right: 8px;
}

.anchor__link {
  display: flex;
  align-items: center;
  text-align: center;
  @include font(null, 8px, 1.25, 0);
  color: $color-btn-dark;
  background-color: $bg-btn-dark;
  border-radius: 20px;
  padding: 7px 15px 7px 13px;
  transition: background-color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $bg-btn-dark-hover;
    transition: background-color 250ms $cubic-bezier;
  }

  @include mediamin(1280px) {
    padding: 11px 23px;
    @include font(null, 14px, null, null);
  }
}

.anchor__link--light {
  color: $color-btn-light;
  background-color: $bg-btn-light;
  transition: background-color 250ms $cubic-bezier;
  &:hover,
  &:focus {
    background-color: $bg-btn-light-hover;
    transition: background-color 250ms $cubic-bezier;
  }
}

.hero__img--milk {
  display: none;

  @include mediamin(768px) {
    position: absolute;
    display: block;
    left: 32px;
    bottom: 16px;
  }

  @include mediamin(1200px) {
    left: 16px;
    bottom: 60px;
  }
}

.hero__text {
  display: none;

  @include mediamin(768px) {
    position: absolute;
    display: block;
    margin-bottom: 7px;
    width: 124px;
    left: 184px;
    top: 287px;
    @include font(null, 8px, 1.5, 0);
    color: $color-text-white;
  }

  @include mediamin(1280px) {
    width: 200px;
    left: 229px;
    top: 456px;
    @include font(null, 14px, 1.4, 0);
  }
}

.hero__text--arrow {
  display: none;

  @include mediamin(768px) {
    position: absolute;
    display: block;
    left: 184px;
    top: 342px;
  }

  @include mediamin(1280px) {
    left: 229px;
    top: 554px;
  }
}

.icon__arrow--right {
  @include mediamin(1280px) {
    width: 26px;
    height: 26px;
  }
}

.stats__list {
  display: none;

  @include mediamin(768px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 92px;
    right: 32px;
  }

  @include mediamin(1280px) {
    top: 153px;
    right: 16px;
  }
}

.stats__item {
  display: flex;
  flex-direction: column;
}

.stats__item:not(:last-child) {
  margin-bottom: 15px;
}

.stats__item--count {
  margin-right: 10px;
  font-family: 'Titan One';
  @include font(null, 28px, 1.14, null);
  text-align: right;
  text-transform: uppercase;
  color: $color-text-accent;
  z-index: 0;

  @include mediamin(1280px) {
    @include font(null, 46px, 1.15, null);
  }
}

.stats__item--text {
  margin-right: 10px;
  @include font(null, 8px, 1.25, 0);
  text-align: right;
  color: $color-text-white;

  @include mediamin(1280px) {
    @include font(null, 14px, 1.29, 0);
  }
}

.stats__circle {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  background: $bg-btn-light;
  border-radius: 50%;

  @include mediamin(1280px) {
    width: 30px;
    height: 30px;
  }
}

.hero__img--girl {
  display: none;

  @include mediamin(768px) {
    position: absolute;
    display: block;
    width: 190px;
    left: 546px;
    bottom: 0;
  }

  @include mediamin(1280px) {
    width: 304px;
    height: 241px;
    left: 960px;
  }
}

// Текст для молока
.more-info.modal-franch {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
  width: 400px;
  height: 500px;
  border-radius: 30%;
  font-size: 16px;
  box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.8),
    25px 15px 15px rgba(255, 255, 255, 0.6),
    5px 15px 15px rgba(255, 255, 255, 0.6);
}

.more__header {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
  letter-spacing: 0.02em;
  font-size: 26px;
  text-shadow: 1px 2px 2px rgba(212, 20, 67, 0.8),
    0px 2px 2px rgba(212, 20, 67, 0.6), 0px 2px 2px rgba(212, 20, 67, 0.6);
}
.more__img {
  float: left;
}
.more__text {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 10px;
}

.more__form--text {
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 1px 2px 2px rgba(212, 20, 67, 0.8),
    0px 2px 2px rgba(212, 20, 67, 0.6), 0px 2px 2px rgba(212, 20, 67, 0.6);
}
.more__form {
  text-align: center;
}
.more__input {
  width: 250px;
  height: 30px;
  border-radius: 20px;
  padding-left: 10px;
  outline: none;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: outline 250ms $cubic-bezier;
  &:hover,
  &:focus {
    outline: 2px solid $bg-btn-dark-hover;
    transition: outline 250ms $cubic-bezier;
  }
}

.more-info__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e17992;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  bottom: none;
  transition: stroke 250ms $cubic-bezier;
  &:hover .more__icon-close,
  &:focus .more__icon-close {
    stroke: $bg-btn-dark-hover;
    transition: stroke 250ms $cubic-bezier;
  }
}
.more__icon-close {
  stroke: #fff;
}

.more__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 22px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: #d41443;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: 700;
  transition: background-color 250ms $cubic-bezier;
  &:hover,
  &:focus {
    background-color: $bg-btn-light-hover;
    transition: background-color 250ms $cubic-bezier;
  }
}

.more__icon--btn {
  fill: #d41443;
  margin-left: 10px;
}
