/* section Products */
.section--products {
  width: 100%;
}
/* заголовки секції Products */
.products__subtitle {
  font-family: $font-h;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $color-subtitle;
  font-size: 18px;
  line-height: calc(21 / 18);
  margin-bottom: 15px;

  @include mediamin(768px) {
    font-size: 26px;
    line-height: calc(30 / 26);
    margin-bottom: 18px;
  }
  @include mediamin(1280px) {
    font-size: 30px;
    line-height: calc(34 / 30);
    margin-bottom: 16px;
  }
}
.products__title {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-accent;
  font-size: 34px;
  line-height: calc(39 / 34);
  margin-bottom: 148px;

  @include mediamin(768px) {
    font-size: 48px;
    line-height: calc(55 / 48);
    margin-bottom: 154px;
  }
  @include mediamin(1280px) {
    font-size: 58px;
    line-height: calc(66 / 58);
    margin-bottom: 258px;
    letter-spacing: 0.06em;
  }
}
/*Картки продуктів секції Products*/
.products__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include mediamin(768px) {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
  }
  @include mediamin(1280px) {
    gap: 32px;
  }
}
.products__list--item {
  width: 100%;
  position: relative;
  display: flex;
  flex-grow: 1;
  margin: 0;
  border-radius: 24px;
  text-align: center;
  color: $color-text-white;
  perspective: 1000px; /*3D effect */
  flex-direction: column;
  max-width: 280px;
  min-height: 489px;
  @include mediamax(767.98px) {
    &:not(:last-child) {
      margin-bottom: 140px;
    }
  }
  @include mediamin(768px) {
    max-width: 224px;
    min-height: 473px;
    flex-basis: calc((100% - 32px * 3) / 3);
  }
  @include mediamin(1280px) {
    max-width: 394px;
    min-height: 535px;
    flex-basis: calc((100% - 32px * 3) / 3);
  }
}
/* псевдоелементи картки продуктів*/

.front--accent::before,
.front--beige::before,
.front--green::before,
.back--accent::before,
.back--beige::before,
.back--green::before {
  content: ' ';
  position: absolute;
  display: block;
  width: 280px;
  height: 280px;
  top: 0;
  left: 0;

  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(0, -50%);

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    width: 224px;
    height: 224px;
    margin-top: -20px;
  }
  @include mediamin(1280px) {
    width: 394px;
    height: 394px;
    margin-top: -50px;
  }
}

.front--accent::before,
.back--accent::before {
  background-image: url('../images/products/products-1-1x-min.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/products/products-1-2x-min.png');
  }
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    background-image: url('../images/products/products-1-1x-tablet-min.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-1-2x-tablet-min.png');
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url('../images/products/products-1-1x-desctop-min.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-1-2x-desctop-min.png');
    }
  }
}

.front--beige::before,
.back--beige::before {
  background-image: url('../images/products/products-2-1x-min.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/products/products-2-2x-min.png');
  }
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    background-image: url('../images/products/products-2-1x-tablet-min.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-2-2x-tablet-min.png');
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url('../images/products/products-2-1x-desctop-min.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-2-2x-desctop-min.png');
    }
  }
}

.front--green::before,
.back--green::before {
  background-image: url('../images/products/products-3-1x-min.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/products/products-3-2x-min.png');
  }
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    background-image: url('../images/products/products-3-1x-tablet-min.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-3-2x-tablet-min.png');
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url('../images/products/products-3-1x-desctop-min.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-3-2x-desctop-min.png');
    }
  }
}
.product__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 160px 39px 40px;

  backface-visibility: hidden; /*невидима задня грань елемента*/
  transition: 1s $cubic-bezier;
  @include mediamin(768px) {
    padding: 118px 32px 40px;
  }
  @include mediamin(1280px) {
    padding: 165px 75px 60px;
  }
}

.product__title {
  position: relative;
  display: inline-block;
  margin-bottom: 70px;
  font-family: $font-h;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  text-transform: uppercase;

  @include mediamin(1280px) {
    font-size: 30px;
    line-height: calc(34 / 30);
  }
}
/*Стилізація 3 крапок в картках продукту*/

.product__title::after {
  content: '\25CF \25CF \25CF ';
  display: inline-block;
  position: absolute;
  font-size: 16px;
  width: 0.1px;
  height: 0px;
  bottom: -29px;
  left: 42%;
  background-color: $color-text-white;
}
.product__text {
  font-family: $font-main;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  text-align: center;
  padding-bottom: 32px;
  @include mediamin(768px) {
    line-height: calc(25 / 14);
  }
  @include mediamin(1280px) {
    font-size: 16px;
    line-height: calc(28 / 16);
    padding-bottom: 60px;
  }
}
/*Стилізація кнопки*/

.product__btn {
  width: 100%;
  height: 40px;
  padding: 0;
  background-color: transparent;
  fill: $color-text-accent;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
}
/*Стилізація flip ефекту картки*/
.front--accent,
.front--beige,
.front--green {
  border-radius: 24px;
}
.front--accent {
  background-color: $bg-accent-color;
}
.front--beige {
  background-color: $bg-beige-color;
}
.front--green {
  background-color: $bg-green-color;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  transition: 1s $cubic-bezier;
}
.front {
  transform: rotateY(180deg);
  justify-content: center;
}
.back {
  min-height: 489px;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  border-radius: 24px;

  backface-visibility: hidden; /*невидима задня грань елемента*/
  transform: rotateY(180deg);

  @include mediamax(767.98px) {
    max-width: 280px;
    min-height: 489px;
    padding: 160px 15px 40px;
  }
  @include mediamin(768px) {
    padding: 118px 15px 40px;
    min-height: 473px;
    flex-basis: calc((100% - 32px * 3) / 3);
  }
  @include mediamin(1280px) {
    padding: 165px 15px 60px;
    font-size: 30px;
    line-height: calc(34 / 30);

    min-height: 535px;
    flex-basis: calc((100% - 32px * 3) / 3);
  }
}
.back--accent {
  background-color: $bg-accent-color;
}
.back--beige {
  background-color: $bg-beige-color;
}
.back--green {
  background-color: $bg-green-color;
}

.back--visibility {
  transform: rotateY(360deg);
}
.back__title {
  text-transform: uppercase;
  margin-bottom: 35px;
}
/* end section Products */
