/* section Products */
.products-section {
  width: 100%;
}
/* заголовки секції Products */
.subtitle-products {
  font-family: $font-h;
  text-align: center;
  text-transform: uppercase;
  color: $color-subtitle;
  font-size: 18px;
  line-height: calc(21 / 18);
  margin-bottom: 15px;

  @include mediamin(768px) {
    font-size: 26px;
    line-height: calc(30 / 26);
    margin-bottom: 18px;
  }
  @include mediamin(1280px) {
    font-size: 30px;
    line-height: calc(34 / 30);
    margin-bottom: 16px;
  }
}
.title-products {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-accent;
  font-size: 34px;
  line-height: calc(39 / 34);
  margin-bottom: 148px;

  @include mediamin(768px) {
    font-size: 48px;
    line-height: calc(55 / 48);
    margin-bottom: 154px;
  }
  @include mediamin(1280px) {
    font-size: 58px;
    line-height: calc(66 / 58);
    margin-bottom: 258px;
    letter-spacing: 0.06em;
  }
}
/*Картки продуктів секції Products*/
.products-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include mediamin(768px) {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
  }
  @include mediamin(1280px) {
    gap: 32px;
  }
}
.product-item {
  width: 100%;
  position: relative;
  display: flex;
  flex-grow: 1;
  margin: 0;
  border-radius: 24px;
  text-align: center;
  color: $color-text-white;

  flex-direction: column;
  max-width: 280px;
  min-height: 489px;
  @include mediamax(767.98px) {
    &:not(:last-child) {
      margin-bottom: 140px;
    }
  }
  @include mediamin(768px) {
    max-width: 224px;
    min-height: 473px;
    flex-basis: calc((100% - 32px * 3) / 3);
  }
  @include mediamin(1280px) {
    max-width: 394px;
    min-height: 535px;
    flex-basis: calc((100% - 32px * 3) / 3);
  }
  &:nth-child(1) {
    background-color: $bg-accent-color;
  }
  &:nth-child(2) {
    background-color: $bg-beige-color;
  }
  &:nth-child(3) {
    background-color: $bg-green-color;
  }
}
/* псевдоелементи картки продуктів*/
.product-item::before {
  content: ' ';
  position: absolute;
  display: block;
  width: 280px;
  height: 280px;
  top: 0;
  left: 0;

  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(0, -50%);

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    width: 224px;
    height: 224px;
    margin-top: -20px;
  }
  @include mediamin(1280px) {
    width: 394px;
    height: 394px;
    margin-top: -50px;
  }
}
.product-item:nth-child(1)::before {
  background-image: url('../images/products/products-1-1x-min.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/products/products-1-2x-min.png');
  }
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    background-image: url('../images/products/products-1-1x-tablet-min.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-1-2x-tablet-min.png');
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url('../images/products/products-1-1x-desctop-min.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-1-2x-desctop-min.png');
    }
  }
}
.product-item:nth-child(2)::before {
  background-image: url('../images/products/products-2-1x-min.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/products/products-2-2x-min.png');
  }
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    background-image: url('../images/products/products-2-1x-tablet-min.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-2-2x-tablet-min.png');
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url('../images/products/products-2-1x-desctop-min.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-2-2x-desctop-min.png');
    }
  }
}
.product-item:nth-child(3)::before {
  background-image: url('../images/products/products-3-1x-min.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/products/products-3-2x-min.png');
  }
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    background-image: url('../images/products/products-3-1x-tablet-min.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-3-2x-tablet-min.png');
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url('../images/products/products-3-1x-desctop-min.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/products-3-2x-desctop-min.png');
    }
  }
}
.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  padding-right: 39px;
  padding-left: 39px;

  @include mediamin(768px) {
    padding-right: 32px;
    padding-left: 32px;
  }
  @include mediamin(1280px) {
    padding-right: 75px;
    padding-left: 75px;
  }
}
.product-title {
  position: relative;
  display: inline-block;
  margin-bottom: 70px;

  font-family: $font-h;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  text-transform: uppercase;
  margin-top: 160px;

  @include mediamin(768px) {
    margin-top: 118px;
  }
  @include mediamin(1280px) {
    margin-top: 165px;
    font-size: 30px;
    line-height: calc(34 / 30);
  }
}
/*Стилізація 3 крапок в картках продукту*/

.product-title::after {
  content: '\25CF \25CF \25CF ';
  display: inline-block;
  position: absolute;
  font-size: 16px;
  width: 0.1px;
  height: 0px;
  top: 190%;
  left: 45%;
  background-color: $color-text-white;
}
.product-text {
  font-family: $font-main;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  text-align: center;
  margin-bottom: 32px;
  @include mediamin(768px) {
    line-height: calc(25 / 14);
  }
  @include mediamin(1280px) {
    font-size: 16px;
    line-height: calc(28 / 16);
    margin-bottom: 60px;
  }
}
/*Стилізація кнопки*/

.product-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0 auto 40px;
  background-color: transparent;
  fill: $color-text-accent;
  border-radius: 50%;
  border: none;

  @include mediamin(1280px) {
    margin-bottom: 60px;
  }
}
/*Стилізація flip ефекту картки*/
.product-description {
  perspective: 1000px; /*3D effect */
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: rotate 2000ms $cubic-bezier;
  backface-visibility: hidden; /*невидима задня грань елемента*/
}

.back {
  min-height: 489px;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  border-radius: 24px;
  background-color: $bg-accent-color;
  transform: rotateY(180deg);

  @include mediamax(767.98px) {
    max-width: 280px;
    min-height: 489px;
    padding: 160px 15px 0px;
  }
  @include mediamin(768px) {
    padding: 118px 15px 0px;
    min-height: 473px;
    flex-basis: calc((100% - 32px * 3) / 3);
  }
  @include mediamin(1280px) {
    padding: 165px 15px 0px;
    font-size: 30px;
    line-height: calc(34 / 30);

    min-height: 535px;
    flex-basis: calc((100% - 32px * 3) / 3);
  }
}
.back2 {
  background-color: $bg-beige-color;
}
.back3 {
  background-color: $bg-green-color;
}
.front {
  transform: rotateY(180deg);
}
.back-visibility {
  transform: rotateY(360deg);
}
.back-title {
  text-transform: uppercase;
}
/* end section Products */
